.mud-list {
    flex-direction: row;
    position: relative;
    input {
        width: 100%;
        box-sizing: border-box;
    }
    .el-card {
        cursor: pointer;
    }
    .card-item {
        width: 20%;
        margin: 10px 0 0 10px;
        .edit-box {
            position: absolute;
            bottom: -28px;
            right: -14px;
            display: none;
        }
        &:hover .edit-box {
            display: block;
        }
    }
    .card-body {
        font-size: 14px;
        input {
            margin-bottom: 2px;
            padding: 2px;
            font-size: 14px;
        }
        .submit-box {
            margin-top: 20px;
        }
    }
}
